affine==2.3.1
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==22.1.0
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
Fiona==1.8.21
fonttools==4.34.4
frozenlist==1.3.0
geojson==2.5.0
geopandas==0.11.1
idna==3.3
imageio==2.20.0
kiwisolver==1.4.4
llvmlite==0.39.0
matplotlib==3.5.2
multidict==6.0.2
munch==2.5.0
networkx==2.8.5
numba==0.56.0
numpy==1.22.4
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
pyparsing==3.0.9
pyproj==3.3.1
pysheds==0.3.3
python-dateutil==2.8.2
pytz==2022.1
pyvista==0.36.1
PyWavelets==1.3.0
rasterio==1.3.0
rioxarray==0.11.1
scikit-image==0.19.3
scipy==1.9.0
scooby==0.6.0
Shapely==1.8.2
six==1.16.0
snuggs==1.4.7
tifffile==2022.7.28
vtk==9.1.0
wslink==1.6.6
xarray==2022.6.0
yarl==1.8.0
